.dashboard-wrapper {
  border-bottom: 1px solid #E9ECEF;
  padding-bottom: 10px;
  margin-bottom: 15px;

  h1 {
    font-weight: 500;
    font-size: 22px;
  }

  .dasboard-txt {
    font-weight: 400;
    font-size: 14px;
    color: #585D6E;
  }

  .input-wrapper {
    input {
      width: 100%;
      border-bottom: 1px solid transparent;
      transition: 0.3s ease all;
      color: #585D6E;


      &:focus {
        outline: none;
        border-bottom: 1px solid #585D6E;
        transition: 0.3s ease all;
      }
    }
  }

  .select-wrapper {
    border-left: 1px solid #E9ECEF;

    input {
      font-weight: 400;
      font-size: 14px;
    }

    select {
      color: #585D6E;
      padding-left: 20px;
      font-weight: 400;
      font-size: 14px;


      &:focus {
        outline: none;
      }
    }
  }

  .similar-jobs {
    button {
      background: transparent;
      border: 1px solid #737A91;
      font-weight: 300;
      font-size: 12px;
      color: #737A91;
    }
  }
}

.featured-jobs-wrapper {

  .job-title {
    font-weight: 400;
    font-size: 18px;
    color: #333333;
  }

  a {
    font-weight: 400;
    font-size: 14px;
    display: inline-block;
    text-decoration: underline;
    text-decoration-style: solid;
    text-underline-offset: 3px;
    margin-left: 12px;
  }
}

.jobs-card {
  .promoted-title {
    font-weight: 500;
    font-size: 10px;
    color: #333333;
  }

  .job-info {
    h3 {
      font-weight: 400;
      font-size: 14px;
      color: #333333;
    }

    p {
      font-weight: 400;
      font-size: 12px;
      color: #333333;

    }
  }

  .job-location {

    span {
      font-weight: 400;
      font-size: 12px;
      color: #585D6E;

      label {
        font-weight: 400;
        font-size: 12px;
      }
    }

  }

  .apply-btn-wrapper {
    .apply-btn {
      font-weight: 400;
      font-size: 12px;
    }
  }
}

.jobs-wrapper {
  height: 70dvh;
  overflow-y: auto;
}



@media screen and (max-width : 1024px) {
  .dashboard-wrapper {
    .select-wrapper {
      border-left: none;
      width: 48.5%;
      border: 1px solid #ccc;
    }
  }
}


@media screen and (max-width :768px) {

  .dashboard-wrapper {

    .input-wrapper {
      input {
        border-color: #ccc;
      }
    }

    .select-wrapper {
      width: 100%;
    }

    .btn-wrapper {
      width: 100%;

      button {
        width: 100%;
      }
    }
  }

  .jobs-wrapper {
    height: auto;
  }
}