::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #b0b4be;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #585d6e;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}